<!DOCTYPE HTML>


<head>

  <title>Home</title>
  <link rel="stylesheet" href="base.css"> <!-- Sizing of stuff. -->
  <link rel="stylesheet" href="purp.css"> <!-- Pretty colors! -->

  <link rel="icon" type="image/x-icon" href="resources/favicon.ico">

</head>


<body>

  <div id="main">
    <h1>Welcome.</h1>
    <table cellspacing="10">
      <tbody>
        <tr v-for="section in sections">
          <th context="row">{{ section.name }}</th>
          <td>
            [
            <span v-for="(site, index) in section.sites">
              <a :href="site.url">{{ site.name }}</a>
              <span v-if="index == section.sites.length - 1">]</span>
              <span v-else>/ </span>
            </span>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="resources/vue.js"></script>
  <script src="app.js"></script>

</body>